/*
    TODO: Clean CSS format, all files
*/

h2 {
    text-align:center;
}

h4 {
    margin:5px 0;
}

.cartLine {
    text-align:center;
    margin:10px 0;
}

.cartLine p {
    margin:5px 0;
}

.cartLine .left {
    display:inline-block;
    width:120px;

    padding:5px;

    border-right:2px solid white;
}

.cartLine .right {
    display:inline-block;

    vertical-align:top;

    /*edit this on complete form*/
    margin-top:20px;
    padding:2px;
}

.right .qtySelect {
    width:25px;
}

.cartLine img {
    width:120px;
}