.displayRow {
    width:100%;
    clear:both;
    text-align:center;
}

.productDisplay {
    color:white;

    display:inline-block;
    margin:5px 20px;

    border:2px solid black;
}

.productDisplay img {
    width:110px;
    display:block;

    padding:20px;
}