.displayRow {
    width:100%;
    clear:both;
    text-align:center;
}

.displayRow img {
    border:2px solid black;
    width:150px;
    display:block;
}

.productDisplay {
    display:inline-block;
    margin:0 20px;
}