.formCenter {
    text-align:center;
    margin:0 auto;
}

.formBtn {
    width:70px;
    height:25px;

    padding:0;
}

#signupForm {
    width:304px;
    height:326px;
    position:absolute;

    top:50%;
    left:50%;

    margin-left:-159px;;
    margin-top:-168px;

    padding:5px;

    border:2px solid black;
}

#authForm {
    width:304px;
    height:161px;
    position:absolute;

    top:50%;
    left:50%;

    margin-left:-152px;
    margin-top:-80.5px;

    padding:5px;

    border:2px solid black;
}

#logoutForm {
    width:304px;
    height:65px;
    position:absolute;

    top:50%;
    left:50%;

    margin-left:-152px;
    margin-top:-32.5px;

    padding:5px;

    border:2px solid black;
}

.txtBox {
    width:300px;
}

#signupForm p {
    margin:5px 0;
}

button a {
    color:black;
    text-decoration:none;
    cursor:default;

    width:66px;
    height:21px;

    display:inline-block;

    margin-top:3px;

    border:none;
}

button a:visited {
    color:black;
    text-decoration:none;
    cursor:default;

    width:66px;
    height:21px;

    display:inline-block;

    margin-top:3px;

    border:none;
}

input:invalid {
    border:2px solid red;
}