.floatingForm {
    margin:0;
}

.formCenter {
    text-align:center;
    margin:0 auto;
}

.formBtn {
    width:70px;
    height:25px;

    padding:0;
}

#signupForm {
    color:black;

    width:304px;
    height:282px;
    position:fixed;

    top:50%;
    left:50%;

    margin-left:-159px;;
    margin-top:-141px;

    padding:5px;

    border:2px solid black;
}

#adminSignupForm {
    color:black;

    width:304px;
    height:321px;
    position:absolute;

    top:50%;
    left:50%;

    margin-left:-159px;;
    margin-top:-160.5px;

    padding:5px;

    border:2px solid black;
}

#authForm {
    color:black;

    width:304px;
    height:165px;
    position:fixed;

    top:50%;
    left:50%;

    margin-left:-152px;
    margin-top:-82.5px;

    padding:5px;

    border:2px solid black;
}

#logoutForm {
    color:black;

    width:304px;
    height:65px;
    position:fixed;

    top:50%;
    left:50%;

    margin-left:-152px;
    margin-top:-32.5px;

    padding:5px;

    border:2px solid black;
}

.txtBox {
    width:300px;
    margin:2px 0;
}

button a {
    color:black;
    text-decoration:none;
    cursor:default;

    width:66px;
    height:21px;

    display:inline-block;

    margin-top:3px;

    border:none;
}

button a:visited {
    color:black;
    text-decoration:none;
    cursor:default;

    width:66px;
    height:21px;

    display:inline-block;

    margin-top:3px;

    border:none;
}

input:invalid {
    border:2px solid red;
}

select { margin:2px 0; }

.inFile {margin:2px 0;}