#pageControls {
    text-align:center;
    margin-bottom:20px;
}

body {
    background:url('/lab6/css/background.jpg');
    background-attachment:fixed;
    margin:0;

    overflow:auto;
}

#header {
    text-align:center;

    padding:10px;
}

#header h1{
    margin:0;
    padding:10px 0;

    font-size:30pt;
}

#nav {
    color:white;

    text-align:center;

    padding:10px 0;
}

#nav a {
    color:white;

    font-size:14pt;
}

#nav a:visited {
    color:white;
}

#footer {
    color:white;
    text-align:center;
    padding:10px 0;
}

#wrapper {
    position:relative;
    z-index:1;
    color:white;
    

    width:90%;
    height:100%;

    margin:0 auto;
}

#content {
    margin:0;

    padding:10px 5px;
}