.msgBox {
    color:red;

    position:fixed;
    top:100px;
    left:50%;

    width:300px;

    margin-left:-150px;
    padding:3px;

    text-align:center;

    border:2px solid black;
}

.msgBox p {
    margin:3px 0;
}