/* This was rushed, css can be strange sometimes */

#content { text-align:center; }

#left {
    display:inline-block;

    width:300px;
    height:270px;

    margin:0 auto;

    text-align:center;

    border-right:2px solid white;
}

#left h2 { margin-top:0; }

#right {
    display:inline-block;
    vertical-align:top;

    width:300px;
    height:270px;

    margin:5px auto 0 auto;
    padding-left:2px;

    text-align:left;
}

#right p { display:inline; }

#right p#desc {
    display:block;
    width:300px;
    height:150px;

    margin:0;

    overflow:auto;
}

img {
    width:200px;
}

#cartForm {
    margin-top:5px;
}

button { color:#0b8400; }

#qty { width:35px; }